.lista-tarjetas{

   display:flex;
   align-items: stretch;
   gap:10px;

}
.tarjeta{

   display:flex;
   flex-direction:column;
   border:1px solid black;
   padding:10px;
   flex:1; /*aca agregue esas cosas para dale forma*/
}
button{

   margin-top:auto;
}